/* styles implement from Figma sketch*/

@font-face { font-family: digital; 
    src: url('/css/fonts/digital-7.ttf'); } 
    
 * {
    font-family: digital,  sans-serif;
    font-size: 1.2rem;
   
 }

.calc {
    position: relative;
    width: 411px;
    height: 731px;
    margin: auto;
    background: #FFFFFF;
    font-family: digital,  sans-serif;
}

.calc__body {
    position: absolute;
    width: 222px;
    height: 265px;
    left: 87px;
    top: 74px;
    background: #C4C4C4;
    border-radius: 10px;
}

.calc__button {
    background: #F5F5F5;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    width: 33px;
    height: 33px;
}

.calc__output {
    box-sizing: border-box;
    position: absolute;
    width: 192px;
    height: 33px;
    left: 102px;
    top: 84px;

    background: #F5F5F5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
     font-weight: bold;
     text-align: right;
    padding: .4rem ;
   
}

.calc__number-one {
    left: 102px;
    top: 137px;
}

.calc__number-two {
    left: 155px;
    top: 137px;
}

.calc__number-three {
    left: 208px;
    top: 137px;
}

.calc__number-four {
    left: 102px;
    top: 190px;
}

.calc__number-five {
    left: 155px;
    top: 190px;
}

.calc__number-six {
    left: 208px;
    top: 190px;
    
}

.calc__number-seven {
    left: 102px;
    top: 243px;
}

.calc__number-eight {
    left: 155px;
    top: 243px;
}

.calc__number-nine {
    left: 208px;
    top: 243px;
}

.calc__plus {
    left: 261px;
    top: 137px;
}

.calc__minus {
    left: 261px;
    top: 190px;
}

.calc__multiply {
    left: 261px;
    top: 243px;
}

.calc__divide {
    left: 261px;
    top: 296px;
}

.calc__null {
    left: 208px;
    top: 296px;
}

.calc__equil {
   
    left: 155px;
    top: 296px;
}
.calc__button.clear {
    left: 102px;
    top: 296px;
    background-color: rgb(199, 155, 150);
}

.back-img {
    width: 95%;
}